// 색상 변수 설정
$header-color: #F0DFAF;
$secondary-color: #DCA3A3;
$tertiary-color: #7f9f7f;

$background-color: #3f3f3f;

$border-color: #262626;

$link-unvisited-color: #DFCFAF;
$link-visited-color: #e0cf9f;


// 기본 스타일
html,
body {
	color: #DCDCCC;
	background: $background-color;
	font-size: 15px;
	line-height: 1.1;
	margin: 0;
	min-height: 100%;
	overflow-wrap: break-word;
	height: 100%;
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $header-color;
	font-weight: bold;
	margin-top: 3rem;
}

strong {
	color: $secondary-color;
}

em {
	color: $tertiary-color;
}

* {
	&:target {
		background: #f8f89344;
	}
}

// hr 스타일
hr {
	margin: 2rem 0;
	text-align: center;
	border: 0;

	&:before {
		content: "/////";
	}

	&:after {
		content: attr(data-content) "/////";
	}
}

a {
	color: $link-unvisited-color;
}

// p, li 스타일
p {
	margin: 1rem 0;
}

li {
	margin: 0.4rem 0;
}

// 테이블 스타일
table {
	width: 100%;
	border-collapse: collapse;

	th,
	td {
		border: thin solid $border-color;
		padding: 0.4rem;
	}
}


// 개행 코드 블록
// pre {
// 	padding: 0px;
// 	border-radius: 5px;
// 	overflow: auto;
// 	background: none;
// 	color: inherit;
// 	tab-size: 2;

// 	code {
// 		font-size: 14px;
// 		white-space: pre-wrap;
// 		padding: 0;
// 		background: none;
// 		color: inherit;
// 	}
// }

// 인용 블록
blockquote {
	font-style: italic;
	border: thin solid $border-color;
	background-color: $border-color;
	padding: 1rem;

	p {
		margin: 0;
	}
}

// 이미지
img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

// .w 클래스
.w {
	max-width: 640px;
	margin: 0 auto;
	padding: 4rem 2rem;
}

// 고유 스타일 설정
.post-meta {
	text-align: right;
}

#markdown-toc::before {
	content: "ToC";
	font-weight: bold;
}

#markdown-toc::ul {
	list-style: decimal;
}

#markdown-toc {
	border: 1px solid #aaa;
	padding: 1.5em;
	list-style: decimal;
	display: inline-block;
}